@media (max-width: 799px) {

    .nav-container {
        background-color: gray;
    }

    li {
        list-style: none;
    }




    .home-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        gap: 2em;
    }

    .home-intro h2 {
        font-size: 6em;
        font-weight: bold;
        -webkit-text-stroke: thin black;
        -webkit-text-fill-color: white !important;
        color: white;
    }

    .contact-me-container {
        display: flex;
        gap: 1em;
    }

    .section-img,
    .home-img {

        display: none;

    }

    .logo {
        width: 40px;
    }

    .tlp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feedback-section-img {
        display: none;
    }

    .feedback-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

section {
    height: 100vh;
    overflow-y: hidden;
}