html,
body {
  background: white;
  margin: 0;
  padding: 0;
  line-height: 1.5;

  font-family: "Crimson Pro", serif !important;
  font-family: "Outfit", sans-serif !important;

  /* font-family: Arial, Helvetica, sans-serif; */

  overflow-x: hidden;
}

section {
  padding: 0 2em;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  border: 2px solid black;
}

form {
  margin: 1em;
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.home,
.about {
  padding-top: 7em;
  height: calc(100vh);
}



@media (min-width: 768px) {

  #all-feedbacks {
    margin-top: 5em;
    padding-top: 7em;
    height: calc(100vh - 7em);
  }

  #contact {
    margin-top: 7em;
    height: calc(100vh - 14em);
  }


  header {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100px;
    overflow: hidden;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }

  header a {
    font-size: 1.25em;
    font-weight: bold;
  }

  header ul {
    list-style: none;
  }

  nav {
    margin: auto 0;
  }

  .nav-list {
    display: flex;
  }

  .logo {
    /* width: 3em; */
    height: 48px;
    width: auto;
    margin: 1em;
    float: left;
  }

  .logos {
    display: flex;
  }

  .section-img {
    width: 45%;
  }

  .home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }


  .home-img {
    width: 75%;
  }

  .contact-me-container {
    display: flex;
    gap: 0.5em;
  }

  .about {
    background: linear-gradient(90deg,
        rgb(252, 252, 252) 0%,
        rgba(226, 226, 240, 1) 35%,
        rgb(149, 151, 151) 100%);
    padding-top: 7em;
  }

  .img-container {
    display: flex;
    justify-content: center;
    margin: none;
  }

  .details-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: left;
    align-items: center;
  }

  .svg-container {
    width: 100%;
  }

  .works {
    display: grid;
    grid-template-columns: auto auto;
  }

  .title {
    font-size: 40px;
  }

  .section-title {
    font-size: 50px;
  }

  .tlp {
    display: flex;
    flex-direction: column;
  }
}

.feedback-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-section-img {
  width: 60%;
}

#all-feedbacks {
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.fb-div {
  background-color: red;
  height: 20px;
  width: 1005;
}

.nav-link {
  color: black !important;
}