.feedback,
.feedback-btn,
.exportIt {
  width: 350px;
  border: none;
  padding: 14px;
  border-radius: 3px;
}

.feedback-btn,
.exportIt {
  background-image: linear-gradient(to right, #89caff, #6589ff);
  /* display: block; */
  color: var(--color-light);
  font-size: 1rem;
  cursor: pointer;
}

.feedback-btn:hover,
.exportIt:hover {
  box-shadow: none;
  box-shadow: 0 5px 20px #89caff94;
  transition: box-shadow 0.3s ease-in-out;
}

.exportIt {
  text-align: center;
  margin: auto;
  margin-top: 10px;
}

.export-options {
  margin: auto;
  margin-top: 10px;
  display: none;

  /* display: flex;
  justify-content: space-evenly;
  gap: 20px; */
}

#expPDF,
#expCSV {
  width: 150px;
}

#contact {
  padding-top: 40px;
}

.fa-github,
.fa-facebook-official,
.fa-instagram {
  cursor: pointer;
}

.fa-github:hover,
.fa-facebook-official:hover,
.fa-instagram:hover {
  color: gold;
}
