.card {
  overflow: hidden;
  /* Change background color */
  /* background-color: white; */
  /* background-color: transparent; */

  background: rgba(238, 238, 238, 0.7);

  /* Add border */
  border: thin solid #04aa6d;
  /* Add space between the border and the content */
  padding: 8px;
  border-radius: 15px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  display: flex;
}

textarea,
input {
  background-color: transparent;
}

#message,
#email {
  border: 2px solid #04aa6d;
}

@media (min-width: 800px) {
  .card {
    width: min-content;
  }
}

@media (max-width: 799px) {
  .card {
    width: 100%;
  }
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: none;
}
