.card {
  overflow: hidden;
  /* Change background color */
  /* background-color: white; */
  /* background-color: transparent; */

  /* Add border */
  border: thin solid #bacdd8;
  /* Add space between the border and the content */
  padding: 8px;
  border-radius: 15px;
}

#message,
#email {
  border: 2px solid #04aa6d;
}

@media (min-width: 800px) {
  .card {
    width: min-content;
  }
}

@media (max-width: 799px) {
  .card {
    width: 100%;
  }
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  /* box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2); */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
