#intro-index {
  height: 800px;
}

#others-index {
  margin-bottom: -200px;
}

#about-index {
  height: 754px;
  margin-bottom: 25px;
}

@media (max-width: 799px) {
  #others-index,
  #about-index {
    height: 700px;
  }
}

iframe {
  width: 100%;
}

.iframe-gen-height {
  height: 100vh;
}

.iframe-footer {
  height: 650px;
  bottom: 0px;
}
