*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --fw-reg: 300;
  --fw-bold: 900;

  --color-background: linear-gradient(
    90deg,
    rgba(173, 171, 195, 1) 0%,
    rgba(226, 226, 240, 1) 35%,
    rgba(232, 233, 233, 1) 100%
  );
  --color-dark: #303030;
  --color-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5 rem;
    --fs-body: 1.1rem;
  }
}

body {
  background: var(--color-background);
  color: var(--color-dark);
  margin: 0;
  line-height: 1.5;

  font-family: "Crimson Pro", serif;
  font-family: "Outfit", sans-serif;
}
section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

strong {
  font-weight: var(--fw-bold);
}

/* nav */

nav {
  position: fixed;
  background: var(--color-dark);
  color: var(--color-background);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(0%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav-list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.nav-link {
  color: inherit;
}

.section-title {
}

.section-title-intro {
  font-weight: var(--fw-reg);
}

.section-title-intro {
  display: block;
}

.section-subtilte {
  margin: 0;
  font-size: var(--fs--h3);
}

.section-subtitle-intro {
  background: var(--color-accent);
  margin-bottom: 1em;
}

.home {
  position: relative;
}

.profile-img {
  border-radius: 50%;
}

@media (min-width: 600px) {
  .home {
    display: grid;
    grid-column-gap: 1em;
    grid-template-areas: "img title" "img subtitle";

    grid-template-columns: min-content max-content;
  }

  .profile-img {
    grid-area: img;
    min-width: 250px;
  }

  .section-subtitle-intro {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
  }
}
