body {
  font-family: "Crimson Pro", serif;
  font-family: "Outfit", sans-serif;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  min-height: 100vh;
}

.about-me {
  display: flex;
  justify-content: center;
  font-size: 5rem;
}
