<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/card.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Outfit:wght@200&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <section class="about" id="about">
    
        <h2 class="aoi">My area of internests are: </h2>
        <div class="interests">
          <div class="interest card">
            <h3 class="sub">Web development</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat hic, eius eum ipsum ratione cumque, culpa quae aliquam reiciendis eligendi vero aspernatur nostrum quisquam porro accusantium odio dolorem sint perferendis!</p>
            
          </div>

          <div class="interest card">
            <h3 class="sub">Game development</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, vero eligendi quas dolor quasi necessitatibus. Dignissimos quo dolores iusto unde veritatis voluptates exercitationem. Soluta voluptatum sequi explicabo quam, commodi aperiam!</p>

          </div>

          <div class="interest card">
            <h3 class="sub">Machine learning</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero suscipit odit, non nulla iste molestiae mollitia doloremque unde. Similique repellat nam incidunt eaque saepe totam esse quas molestiae ad mollitia.</p>

          </div>

        </div>
        
    </section>
    
</body>
</html>