
<head>
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/card.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Outfit:wght@200&display=swap"
    rel="stylesheet"
  />
    <title>About Me</title>
    
</head>
<body>
    <section class="about" id="about">
    
        <h2 class="aoi">My area of internests are: </h2>
        <div class="interests">
          <div class="interest black-card">
            <h3 class="sub">Web development</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat hic, eius eum ipsum ratione cumque, culpa quae aliquam reiciendis eligendi vero aspernatur nostrum quisquam porro accusantium odio dolorem sint perferendis!</p>
            
          </div>

          <div class="interest black-card">
            <h3 class="sub">Game development</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, vero eligendi quas dolor quasi necessitatibus. Dignissimos quo dolores iusto unde veritatis voluptates exercitationem. Soluta voluptatum sequi explicabo quam, commodi aperiam!</p>

          </div>

          <div class="interest black-card">
            <h3 class="sub">Machine learning</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero suscipit odit, non nulla iste molestiae mollitia doloremque unde. Similique repellat nam incidunt eaque saepe totam esse quas molestiae ad mollitia.</p>

          </div>

        </div>
        
    </section>
    
</body>