<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Outfit:wght@200&display=swap"
      rel="stylesheet"
    />
    <title>Feedback</title>
  </head>
  <body>
    <section id="all-feedbacks">
      <h2 class="h2-feedback">Feedbacks</h2>

      <table id="myTable">
        <thead>
          <tr>
            <th>Email</th>
            <th>Feedback</th>
          </tr>
        </thead>

        <tbody>
          <tr></tr>
          <tr class="active-row"></tr>
        </tbody>
      </table>

      <button class="exportIt">Export Feedback</button>
    </section>

    <script src="../scripts/export.js"></script>
  </body>
</html>
