<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Outfit:wght@200&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <footer id="contact">
      <input
        class="feedback email"
        type="text"
        id="email"
        name="email"
        placeholder="yourmail@mail.com"
      /><br />
      <input
        class="feedback message"
        type="text"
        id="message"
        name="message"
        placeholder="Your Feedback"
      /><br /><br />
      <button type="submit" class="feedback-btn">Feedback</button>

      <ul class="socials">
        <li class="social-item"><a href="" class="social-link">facebook</a></li>
        <li class="social-item">
          <a href="" class="social-link">instagram</a>
        </li>
        <li class="social-item">
          <a href="https://github.com/abantoo" class="social-link">github</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
