<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Outfit:wght@200&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <footer id="contact">
      <!-- email address -->

      <input
        class="feedback"
        type="email"
        name="email"
        id="email"
        placeholder="yourmail@mail.com"
      />

      <br />

      <!-- feedback -->
      <input
        class="feedback"
        type="text"
        name="message"
        id="message"
        placeholder="Your Feedback"
      />

      <br />

      <!-- submit -->
      <button type="submit" class="feedback-btn">Feedback</button>

      <!-- social lists -->

      <ul class="socials">
        <!-- social links -->

        <li class="social-item"><a href="" class="social-link">facebook</a></li>
        <li class="social-item">
          <a href="" class="social-link">instagram</a>
        </li>
        <li class="social-item">
          <a href="https://github.com/abantoo" class="social-link">github</a>
        </li>
      </ul>
    </footer>

    <script src="../scripts/table.js"></script>
  </body>
</html>
