<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intro</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Outfit:wght@200&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="home" id="home">
      <h1 class="h1-home h1-home-intro">
        Hi <br />I'm <strong>Abanto</strong>
      </h1>
      <p class="p-home p-home-intro">
        I am currently a student of North South University. <br />
        The guy on the picture is obviously not me. He is
        <a href="https://en.wikipedia.org/wiki/Thanos">Thanos</a>, and he was
        right.
      </p>
      <img
        class="profile-img"
        src="../images/69858020_1518268088325699_8269558795114381312_n.jpg"
        alt=""
      />
    </section>
  </body>
</html>
