<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Outfit:wght@200&display=swap"
      rel="stylesheet"
    />
    <title>Others</title>
  </head>
  <body>
    <section class="other" id="other">
    
        <h2 class="other-activity">Other activities </h2>
        <div class="activities">
          <div class="activity">
            <h3 class="sub">Drawing</h2>
              <p>I love drawing sketches, cartoons, random stuffs around etc.</p>
            
          </div>
  
          <div class="activity">
            <h3 class="sub">Sports</h3>
            <p>I usually play some indoor and outdoor games like table tennis, cricket, football. I am also a big fan of Esports.</p>
  
          </div>
  
          <div class="activity">
            <h3 class="sub">Reading books</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae explicabo nobis cumque ullam magnam magni consequuntur soluta ducimus numquam exercitationem, error voluptates eius accusamus quaerat sapiente incidunt libero officiis expedita.
            </p>
  
          </div>
  
        </div>
        
    </section>

    
  </body>
</html>
